before_script:
  - npm install -g gulp bower
  - bower install
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
language: node_js
node_js:
  - "4.1"
  - "4.0"
  - "0.12"
script: gulp build
