@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Roboto/Roboto-Regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Regular-webfont.svg') format('svg'); /* Legacy iOS */
}

$font-stack: 'Roboto';
$main-color: cornflowerblue;
